.linea {
	border:solid 2px black;
	width:90px;
	height: 0px;
	margin-bottom: 50px;
}
.contiene {
	width:800px;
	height: 800px;
	margin:auto;
}

.contiene > div{
	width:200px;
	height: 200px;
	display: inline-block;
	margin:20px;
	position:relative;
	color:#fff;
	font-size:13px;
	background-color:black;
	
}
.contiene  div div{
position: absolute;
right:0px;
bottom:0px;

}
img{
	width: 200px;
	height:200px;
	opacity:0.5;
}
img:hover{
	opacity:1;
}